.contents {
    max-width: 200px;
    width: 200px;
}

.summary {
    font-size: 2em;
    font-weight: 900;
}

.saved,
.unsaved {
    display: none;
}

.saved.active,
.unsaved.active {
    display: block;
}

.saved .tab-tit {
    font-weight: 900;
}

.saved .tab-url {
    font-size: .5em;
}
