.contents {
    max-width: 200px;
    width: 200px;
}

.box-summary {
    font-size: 2em;
    font-weight: 900;
}

.box-summary .txt {
    display: none;
}
.box-summary .txt.active {
    display: block;
}

.box-page-info .tab-tit {
    font-weight: 900;
}

.box-page-info .tab-url {
    font-size: .5em;
}
